.rg-flag-cell {
    justify-content: center;
}
  
.rg-flag-wrapper {
    width: 40px;
    height: 80%;
    border: 1px solid #cccccc;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
